<%= form_tag '/kilpailuvaihto', remote: true, :id => 'kilpailuvalinta_formi'  do %>
	<div id="kilpailuvalinta" class="input-medium"><%= select_tag "competition_id", options_from_collection_for_select(@competitions,"id", "nimi"),
	:prompt => "Meneillään" %></div>
<% end %>