<div class="nested-fields">
	<%= f.inputs do %>
		<%= f.input :kuvaus, :wrapper_html => { :class => "input-medium fl" } %>
		<%= f.input :arvo, :label => "Arvo €", :wrapper_html => { :class => "input-small fl" } %>
		<!--<%= link_to_remove_association "poista palkinto", f %>-->
	<% end %>	
</div>
