<%= render 'esimies_shared/vasenpalkki' %>
<div class="span10">
	<div class="row-fluid">
		<div class="span5">
			<h3>Bonustasojen hallinta</h3>
			<div class="row-fluid">
				<div class="span6">
					<p>Valitse myyntiryhmä:</p>
					<div id="ryhmavalinta_bonus">
						<%= render 'ryhmavalinta_bonus'%>
					</div>	
				</div>
				<div class="span4">
					<p>Valitse bonuslaji:</p>
					<div id="bonuslaji">	
						<%= render 'lajivalinta'%>
					</div>	
				</div>	
			</div>
		</div>				
	</div>
	<div class="row-fluid" id="bonustaulukko">
		<%= render 'bonustaulukko'%>
	</div>	
</div>

<script type="text/javascript">
  $('#ryhmavalinta').change(function(){
  	$('#ryhmavalinta_formi').submit()
  });
</script>