<div class="span2">	
	<div class="vasenpalkki_myyja">
		<tr> <td><h3>Kontaktit</h3></td></tr>
		<tr>
			<td><%= image_tag "tilaus.jpg", :mouseover =>"tilaus_hover.JPG" %></td>	
		</tr>
		<tr>
			<td><%= image_tag "ei_tilausta.jpg", :mouseover =>"ei_tilausta_hover.JPG" %></td>	
		</tr>
	</div>

	<%= render 'shared/messages'%>

</div>
