<p>Jokaisella SaleMaten prototyypin sivulla on tällä paikalla infoboxi, jonka sisältö kannattaa lukaista ennen sivun toimintoihin tutustumista.</p>
<p>Tutustuessanne prototyyppiin kannattaa huomioida, että esimerkiksi sivuston ulkoasu ja graafinen ilme ovat hyvin alkeellisella tasolla ja siihen ei prototyyppivaiheessa ole panostettu.
	Sivustoa ei tule tarkastella valmiin tuotteen demona, vaan pelkästään mahdollisia eri toiminnallisuuksia esittelevänä prototyyppinä.</p>
<p><font color="#C91C33">HUOM! Prototyyppi toimii tällä hetkellä Herokun ilmaisella alustalla, joten sivusto on suhteellisen hidas paikkapaikoin. Eli kannattaa odottaa rauhassa joitakin sekuntteja, kun näkymät päivittyvät.</font></p>
