<p>Täältä myyntiesimies voi määrittää bonustasot ja bonuksen määrät eri myyntiryhmille.</p>
<p>Kun muutat bonustasoa/bonustasoja muista klikata "Tallenna muutokset" painiketta. Bonustasot päivittyvät kyllä vaikka sivu ei lataudu uudestaan, koska päivitys suoritetaan
	AJAX- pyynnön avulla.</p>
