<p>Täältä myyntiesimies voi luoda myyjille pidempiä kilpailuja ja lyhyen aikavälin porkkanoita.</p>
<p>Prototyypissä kilpailun palkintoja voi olla enintään kolme. Palkintosijat määrittyvät palkinnon syötetyn arvon mukaan suuruusjärjestyksessä.</p>
