<p>Esimiehen päänäkymässä on kolme osiota.</p>
<p>Vasemmalla olevassa palkissa on yrityksen nimi ja yleisiä linkkejä, jotka pääosin ovat tällä hetkellä vain placeholdereina.</p>
<p>Keskellä on neljä linkkiä kokonaismyynnin, myyntiryhmien, kontaktien ja kilpailujen SEURANTA-näkymiin.</p>
<p>Oikealla olevassa palkissa on linkkejä SaleMaten eri toiminnallisuuksien HALLINTA-näkymiin.</p>
<p>Eli jos haluat luoda esimerkiksi uuden myyntiryhmän tai myyjän, voit sen tehdä hallintapaneelin kautta. Kun taas haluat seurata myyjien suoriutumista, niin klikkaa SEURANTA-ryhmän linkkejä.</p>
<p>Placeholder boxit/linkkipaikat ilmaisevat, että ko. tilaa ei tarvitse jättää käyttämättä, vaan siihen voi asiakas itse päättää haluamaansa sisältöä.</p>
