<p>Täältä myyntiesimies voi luoda yksittäisille myyjille erilaisia tavoitteita. Myyntiesimies voi esimerkiksi määrittää myyntitavoitteen myyjän aloitushetkestä
vaikkapa vuoden loppuun, mutta tavoite näkyy myyjälle kuitenkin jaoteltuna kuukausi- ja päivätavoitteiksi.</p>
