<p>Täältä myyjä näkee meneillään olevien kilpailujen reaaliaikaisen tilanteen. Lisäksi hän voi tarkastella jo päättyneiden kilpailujen tuloksia.</p>
<p>Kilpailutaulu päivittyy, kun sivu päivitetään.</p>
<p>Myyjä voi kirjata kauppoja myös tällä sivulla ollessaan.</p>
