<p>Tältä sivulta myyntiesimies näkee kaikkien myyjien kontaktit kuluvalta kuukaudelta ja päivältä.</p>
<p>Kontaktien kirjaamisen kellonaika näyttää, että kaikki kontaktit olisivat kirjattu samaan aikaan, mutta tämä johtuu siitä, että olen ajanut tietokantaan näytedatan
	ko. kellonaikaan.</p>
<p><font color="#C91C33">HUOM! Kun vaihdat "Tänään" valinnasta "Tämä kuu" valintaan, voi kontaktien lataaminen kestää hetkisen (n. 5- 10s), joten ole hyvä ja odottele rauhassa.</font></p>
