<p>Tällä sivulla myyntiesimies voi tarkastella eri myyntiryhmien ja myyjien suoriutumista päivä- ja kuukausitasolla.</p>
<p>Graafeissa keltainen väri kuvastaa myyjälle asetettua tavoitetta. Myyjän tämänhetkinen tulos näkyy harmaana jos ollaan alle tavoitteen, ja vihreänä jos tavoite
on ylitetty. Kuukausigraafissa punainen viiva myyntipalkissa tarkoittaa bonusrajaa.</p> 
