<p>Täältä myyntiesimies voi luoda uusia myyntiryhmiä ja myyjiä sekä poistaa olemassa olevia myyjiä ja myyntiryhmiä.</p>
<p>Proton testauksessa havaitiin eräänlainen muna-kana ongelma: kun myyntiesimies haluaa luoda uuden myyjän kokonaan uuteen myyntiryhmään, täytyy myyntiryhmä
	luoda ennen myyjää. Ja lisäksi myytävä tuoteryhmä ja tuotteet täytyy luoda ennen myyntiryhmää. Keep in mind, this is only proto :) </p>
<p>Myyjiä voi vapaasti vaihdella myyntiryhmästä toiseen ja tuoteryhmiä voidaan osoittaa useammille myyntiryhmille.</p>
