<p>Myyjän käyttöliittymä koostuu prototyypissä kahdesta välilehdestä: nyt esillä olevasta myyntinäkymästä ja kilpailut-näkymästä.</p>
<p><font color="#C91C33">Kontaktien syöttäminen prototyypissä tapahtuu manuaalisesti vasemmalla olevasta palkista. SaleMaten normaalissa
	toteutuksessa kontaktit haetaan suoraan asiakasyrityksen serveriltä, jos sellaiseen on mahdollisuus. Näin myyjän aikaa ei kulu kontaktien syöttämiseen.</font></p>
<p>Graafeissa tavoitteet on esitetty keltaisella värillä, tavoitteet täyttäneet suoritukset vihreällä ja vielä alle tavoitteen olevat suoritukset harmaalla. Punaiset
	viivat kuukausigraafin myyntipalkissa ilmaisevat bonustasoja.</p>
<p>Oikeanpuolimmaisessa boxissa on esitettynä myyjän osaamislukuja päivä- ja kuukausikohtaisesti. Alimpana boxissa on arvio tulevasta kuukausipalkasta, joka on
	laskettu seuraavalla kaavalla: kkpalkka-arvio = myynti nyt + kuukauden jäljellä olevat myyntipäivät * kontaktit/pv * pull%(kk) * provisio ka.(kk)
	Edellämainituilla luvuilla lasketaan myös arvioitu myyntimäärä kuun lopussa ja palkka-arvioon lisätään myös ko. myynnillä ansaitut bonukset. </p>
	
<p>Kun myyjä kirjaa kaupan (eli valitsee tuotteen ja painaa vihreää peukkua), provisiokertymä palkkakaudella kasvaa välittömästi tajunnanräjäyttävän visuaalisen
	palautteen saattelemana.</p>	
