<p>Täältä myyntiesimies voi luoda uusia tuoteryhmiä ja tuotteita sekä poistaa olemassa olevia tuotteita ja tuoteryhmiä.</p>
<p>Tuotteelle määritetty hinta on esimerkiksi lehtien kohdalla tilausjakson hinta asiakkaalle. Myyjän myyntimäärä kasvaa hinnan verran, kun hän myy tuotteen. Provisio
	puolestaan määrittää sen, paljonko myyjä saa provisiota tuotteen myydessään.</p>
<p>Tuotteita voi uudelleensijoittaa eri tuoteryhmiin.<p>	
