<p>Joillakin SaleMaten prototyypin sivuilla on tällä paikalla teoriaboxi, josta voi lukea tarkemmin miksi mikäkin toiminnallisuus on toteutettu.</p>
<p>SaleMaten konseptin suunnittelu on Oulun Yliopiston teknillisen tiedekunnan informaatioverkostojen koulutusohjelman opiskelijan Aleksi Hentilän
	diplomityö. Parhaan käsityksen ideasta saat <%= link_to "täältä.", "tiivistelma.pdf", :target => "_blank" %></p>
