<p>Kilpailumotiivi liittyy yksilön liittymistarpeen tyydyttämiseen. Liittymistarpeita ovat kaikki tarpeet, jotka liittyvät yksilön ja hänen
	merkittäväksi kokemiensa henkilöiden välisiin suhteisiin.</p>
<p>Lisää mielenkiintoista informaatiota yksilön tarpeista saat <%= link_to "täältä.", "kilpailu_tarpeet.pdf", :target => "_blank" %></p>
