<p>Tässä näkymässä on runsaasti myyjän motivaation ja työsuorituksen kannalta tärkeitä elementtejä kuten kannusteet ja palkkiot, tavoitteet sekä palaute
	työstä osaamislukujen kautta. Näistä asioista ja niihin liittyvistä seikoista, kuten väline-ehdollistamisesta, vahvistamisperiaatteista sekä odotusarvoteoriasta, 
	voit lukea lisää <%= link_to "täältä.", "myyja_main.pdf", :target => "_blank" %></p>
	
<p>Yllä olevan linkin takaa löytyvän teorian perusteella on tärkeää, että myyjä tietää tavoitteensa tarkasti, sekä näkee sen, että mihin nykyinen työtahti riittää.
	Lisäksi myyjän on tärkeää saada palautetta työstään, ja osaamisluvut ovat palautetta yksinkertaisessa ja tehokkaassa muodossa. Lisäksi teoriasta opimme, että suotuisaa käyttäytymistä (kaupan tekemistä)
	voi opettaa jatkuvan vahvistamisen avulla, mitä tarkoitusta provisiokertymä palkkakaudella ja sen kasvaminen kauppojen myötä palvelee. </p>
