<p>Tavoitteet vaikuttavat suoritukseen neljällä tavalla. Ensinnäkin ne ohjaavat toimintaa ja huomiota kohti tavoitteiden täyttymistä. 
	Toiseksi ne antavat energiaa suoritukseen; korkeammat tavoitteet johtavat parempaan suoritukseen kuin matalat tavoitteet. Kolmanneksi tavoitteet 
	aikaansaavat sinnikkyyttä. Neljänneksi tavoitteet vaikuttavat toimintaan välillisesti siten, että tehtävän kautta olennaisia strategioita
	 tulee tutkittua ja hyödynnettyä paremmin. </p>
	 
<p>Tavoitteista ja niiden asettamiseen liittyvistä tutkimuksista ja teorioista voit lukea tarkemmin <%= link_to "täältä.", "../tavoitteet.pdf", :target => "_blank" %></p>
