@import "bootstrap";

/* mixins, variables, etc. */


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  width: 1200px;
  font-family: Verdana;
}


/*forms*/
.form{
  text-align: right;
  padding-right: 20px;
}

/* header */
#header{

  height: 87px;
  background-image: url('ylaraami.jpg');
}


/* footer */
#footer{
  height: 181px;
  background-image: url('alaraami.jpg');
    text-align: right;
  
  h2 {
    a{
      padding: 10px;
      font-style: italic;
      color: #800517;
      text-decoration:none 
    }
  }
}

/* vasen raami*/
#vasenraami{
  width: 55px;
  height: 632px;
  background-image: url('vasenraami.jpg');  
}

/* esimies palkit */
.vasenpalkki{
 h3{
   color: white;
   font-style: italic;
   }
  border:2px solid;
  border-radius:25px;
  text-align: center;
  background-color: black; 
 
  
}

.oikeapalkki{
  h3 {
   color: white;
   font-size: 15px;
  }  
  border:2px solid;
  border-radius:25px;
  text-align: center;
  height : 430px;
  background-color: black; 
  
}
/* myyja palkki */
.vasenpalkki_myyja{
 h3{
   color: black;
   font-style: italic;
   }
  border:2px solid;
  border-radius:25px;
  text-align: center;
  padding: 10px;
}

/* esimies main sisalto */
.main_sisältö{
  height: 240px;
}

/*placeholder*/
.placeholder{
  p {
  }
  text-align: center;
  vertical-align: middle;
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 5px #888888;
 
}

/*tuottehallinta*/
#tuotteet{
  padding-top: 10px;
  margin-top: 5px;
  height: 295px;
  border:2px solid;
  border-radius:25px;
  text-align: center;
  background-color: white; 
  h4{
    padding-bottom: 10px;
  }
  .table {
    display: block;
    max-height: 250px;
    overflow-y: auto;
  }
}

#tuoteryhmat{
  padding-top: 10px;
  margin-top: 5px;
  height: 295px;
  border:2px solid;
  border-radius:25px;
  text-align: center;
  background-color:white;
  h4{
    padding-bottom: 10px;
  }
  .table {
    display: block;
    max-height: 250px;
    overflow-y: auto;
  }
}
/*myyjähallinta*/
#myyjat{
  padding-top: 10px;
  margin-top: 5px;
  height: 295px;
  border:2px solid;
  border-radius:25px;
  text-align: center;
  background-color: white; 
  h4{
    padding-bottom: 10px;
  }
  .table {
    display: block;
    max-height: 250px;
    overflow-y: auto;
    form{
      height: 20px;
      margin-bottom: 4px;
    }
  }
}

#myyjaryhmat{
  padding-top: 10px;
  margin-top: 5px;
  height: 295px;
  border:2px solid;
  border-radius:25px;
  text-align: center;
  background-color:white;
  h4{
    padding-bottom: 10px;
  }
  .table {
    display: block;
    max-height: 250px;
    overflow-y: auto;
  }
}
/*debug*/
.debug{
  position: absolute;
  bottom: 0px
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  padding: 5px;
  height: auto;
  margin-bottom: 5px;
  @include box_sizing;
}
.field-with-errors{
  border: 1px solid #bbb;
  width: 80%;
  padding: 5px;
  height: auto;
  margin-bottom: 5px;
  @include box_sizing;
}

/*errormessage*/
.error {
  color: red;
  font-size: 14px;
  width: 100px;
  padding-top: 15px;
}

/*signin page*/
.tervetuloa{
  padding-top: 20px;
}
.signin {
  padding-top: 50px;
}
.kayttajalista{
  padding-top: 50px;
}
/*myyja myynti*/
.myyntipv{
  padding-top: 10px;
  margin-top: 5px;
  padding-left: 10px;
  height: 400px;
  border:2px solid;
  border-radius:25px;
  text-align: center;
}

.myyntikk{
  padding-top: 10px;
  margin-top: 5px;
  height: 400px;
  border:2px solid;
  border-radius:25px;
  text-align: center;
}
.osaamisluvut{
  padding-top: 10px;
  margin-top: 5px;
  height: 400px;
  border:2px solid;
  border-radius:25px;
  text-align: center;
}
.osaamistoday{
  margin-left: 33px;
}

.osaamismonth{
  margin-left: 33px;
}