<%= form_tag '/ryhmavaihto', remote: true, :id => 'ryhmavalinta_formi'  do %>
	<div id="ryhmavalinta" class="input-medium"><%= select_tag "salegroup_id", options_from_collection_for_select(@salegroups,"id", "nimi", @salegroup.id) %></div>
<% end %>